[submodule "d3"]
	path = d3
	url = https://github.com/mbostock/d3.git
[submodule "underscore"]
	path = underscore
	url = https://github.com/jashkenas/underscore.git
[submodule "nvd3"]
	path = nvd3
	url = ./nvd3
[submodule "jquery-contextMenu"]
	path = jquery-contextMenu
	url = https://github.com/arnklint/jquery-contextMenu.git
[submodule "enlightened-data"]
	path = enlightened-data
	url = git@github.com:Sigfried/enlightened-data.git
